.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  color: var(--color-primary);
}

.mySwiper .swiper-pagination {
  bottom: -20px;
}

.mySwiper .swiper-pagination-bullet-active {
  background: var(--color-primary);
}
