@import "tailwindcss";

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-background: var(--color-background);
  --color-text: var(--color-text);
}

* {
  font-family: var(--font-roboto), sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
